*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px auto;
  grid-template-areas: "result content__details";
  align-content: end;
  gap: 30px;
  min-width: 1140px;
  margin: auto;
}

/* Секция result */

.result {
  grid-area: result;
  align-self: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 17px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Стили для формы поиска */

.search-form {
  max-width: 711px;
  display: flex;
  justify-content: start;
  gap: 40px;
  padding-bottom: 7px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label-text {
  display: block;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

/* Чекбокс */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid currentColor;
  padding: 1px;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: currentColor;
}

/* Стили для кнопки */

.button {
  border: 1px solid currentColor;
  padding: 6px 73px;
  color: currentColor;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
}
.search-form__submit-button {
  align-self: end;
}

.more-button {
  width: 100%;
  margin: 30px 0 7px 0;
}

/* Секция content__details */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  grid-area: content__details;
  margin-bottom: 6px;
}

/* Стили для заголовка */

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  width: 100%;
}

.content__accent {
  color: #545050;
}

/* Стили для блока со скролом */

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

/* Стили для карточек */

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  padding: 0px 3px;
}

.content__card-link {
  color: currentColor;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  line-height: 100%;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 5px;
}

.content__video-card-description {
  line-height: 16.2px;
  -webkit-line-clamp: 4; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Стили для состояний */

.button:hover,
.search-form__checkbox-list > .search-form__label:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active,
.search-form__checkbox-list > .search-form__label:active,
.content__card-link_current:active > .content__video-card {
  background-color: #545050;
  text-decoration: none;
}

.search-form__textfield:focus,
.search-form__label:focus,
.button:focus,
.content__card-link:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible,
.content__card-link:focus-visible > .content__video-card {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__textfield,
.search-form__label,
.button {
  cursor: pointer; /* Свойство для курсора мыши кликабельных элементов */
}
