*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*  */
.content {
  display: grid;
  gap: 30px;
  grid-template-areas: "result content__details";
  align-content: center;
  justify-content: center;
  background-color: green;
  min-width: 1140px;
}

.result {
  grid-area: result;
  align-self: end;
  background-color: red;
  
}

.result__video-container {
  min-width: 711px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: center;
  flex-grow: 1;
}

.search-form__label {
  flex-grow: 1;
}

.content__details {
  height: 100%;
  width: 100%;
  grid-area: content__details;
  background-color: red;
}

.content__list-container {
  max-height: 298px;
  overflow: scroll;
}

.title {
  margin-bottom: 26px;
}